body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table, th {
    text-align: left;
    border: 1px solid black;
}

th > span {
    margin: .25rem;
    cursor: pointer;
}